body {  /* Provides default fonts and size */
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  font-size: small;
  background-color: #F5F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  top:15%;
  position: absolute;
}

#logo{
  justify-content: center;
  align-items: center;
  width: 340px;

}

.centerlogo {
  font-family: 'Roboto', Verdana, Arial, sans-serif;


}

.social {
  width: 64px;
  padding:20px;
}

.facebook {
  background-image: url(icons\facebook.png);
}

footer {
  font-family: 'Montserrat', monospace;
  font-size: 90%;
  background-color: aquamarine;
  height: 50px;
  top:90%;
  left:0px;
  position: absolute;
  width:100%;
}

footer #footerlogo {
  width: 50px;
  padding: 10px;
  margin: 5px;
}

footer #footercopy {
  width: 5px;
  padding: 10px;
  margin: 5px;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}
